/* Globales */
html {
  font-size: 62.5%; /* Reset para rems  62.5% = 10 px de 16px */
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

h1{
  font-size: 3.8rem;
}
h2{
  font-size: 3.4rem;
}
h3{
  font-size: 3rem;
}
h4{
  font-size: 2.6rem;
}

img{
  max-width:100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.contenido-header{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenido-header h1{
  color: #ffffff;
  padding-bottom: 2rem;
  max-width: 60rem;
  line-height: 1.8;
}

/* Utilidades */
.fw-300{
  font-weight: 300;
}
.centrar-texto{
  text-align: center;
}
.seccion{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.d-block{
  display: block !important;
}
.boton{
  color:#ffffff;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block;
}

.boton-amarillo{
  background-color: #e08709;
}

.boton-verde{
  background-color: #71b100;
}

/* Header */
.site-header{
  background-color: #333333;
  padding: 1rem 0 3rem 0;
}
.site-header.inicio {
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-height:60rem;
}

.barra{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

/** Navegacion */
.navegacion a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8rem; /* 18 pixeles */
  margin-right: 2rem;
}

.navegacion a:last-of-type{
  margin: 0;
}

.navegacion a:hover{
  color: #71b100
}

/* Seccion nosotros */
.iconos-nosotros{
  display:flex;
  justify-content: space-between;
}

.icono{
  flex-basis: calc(33.3% - 1rem);
  text-align: center;
}

.icono h3{
  text-transform: capitalize;
}

/* Seccion casas y depas */
.contenedor-anuncios{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.anuncio{
  flex: 0 0 calc(33.3% - 1rem);
  /* 
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33.3% - 1rem); */
  border: 1px solid #b5b5b5;
  background-color: #f5f5f5;
  margin-bottom: 2rem;
}

.contenido-anuncio{
  padding: 2rem;
}

.contenedor-anuncios h3, .contenedor-anuncios p{
  margin-top: 0;
}

.precio{
  color: #71b100;
  font-weight: 700;
}

.ver-todas{
  display: flex;
  justify-content: flex-end;
}

/* Contacto Home*/
.imagen-contacto{
  background: center center;
  background-image: url(../img/encuentra.jpg);
  height: 40rem;
  display:flex;
  align-items: center;
}

.contenido-contacto{
  flex:1;
  color:#ffffff;
}

.contenido-contacto p{
  font-size: 1.8rem;
}

.iconos-caracteristicas{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly; 
}

.iconos-caracteristicas li{
  /* flex: 1; */
  display:flex; 
}

.iconos-caracteristicas li img {
  margin-right: 2rem;
}

/** Seccion blog y Testimoniales */

.seccion-inferior{
  display:flex;
  justify-content: space-between;
}

.seccion-inferior .blog{
  flex-basis: 60%;
}

.seccion-inferior .testimoniales{
  flex-basis: calc(40% - 2rem);
}

.entrada-blog{
  display:flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.entrada-blog:last-of-type{
  margin-bottom: 0;
}

.entrada-blog .imagen{
  flex-basis:40%;
}
.entrada-blog .texto-entrada{
  flex-basis: calc(60% - 2rem);
}

.texto-entrada a{
  color:#000000;
  text-decoration: none;
}
.texto-entrada h4{
  margin: 0;
  line-height: 1.2;
}

.texto-entrada h4::after{
  margin-top: 1rem;
  content: '';
  display:block;
  width: 15rem;
  height: .5rem;
  background-color:#71b100;
}

.texto-entrada span{
  color: #e08709;
}

/** Testimoniales */
.testimonial{
  background-color: #71b100;
  color:#ffffff;
  font-size: 2.4rem;
  padding: 2rem;
  border-radius: 2rem;
}

.testimonial p{
  text-align: right;
  padding-left: 5rem;
}

.testimonial blockquote{
  position: relative;
  padding-left: 5rem;
  font-weight: 300;
}

.testimonial blockquote::before{
  position: absolute;
  left: -2rem;
  content:'';
  background-image: url("../img/comilla.svg");
  width:4rem;
  height: 4rem;
  display: block;
}

/** Footer */

.site-footer{
  background-color: #333333;
  margin-bottom: 0;
}

.copyright{
  margin: 0 0;
  color:#ffffff;
  font-size: 1.8rem;
}

.contenedor-footer{
  padding: 3rem 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

/** Internas */
.contenido-nosotros{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.texto-nosotros blockquote{
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding: 1rem 0 3rem 0;
}

