@import 'config';

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body{
  color: #000;
  background: $primary-color;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

//* Header

.site-header.inicio{
  @include background;
}

.main-title{
  display:flex;
  flex-direction: column;
  i{
    align-self:center;
    color: white;
    animation-duration: 2s;
  }
}
@media (max-width: 767px ) {
  .main-title{
    h1{
      font-size: 2.2rem;
    }
    // i{
    //   animation-duration: 2s;
    // }
  }
} 


@media (min-width: 768px ) {
  .main-title{
    h1{
      animation-duration: 0s;
    }
    // i{
    //   color:white;
    //   animation-duration: 0s;
    // }
  } 
}
.contenido-header {
  display:flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 2rem;
  text-align: center;
  h1{
    color: white;
    max-width: 60rem;
    line-height: 1.8;
  }
}

@media (min-width: 768px ) {
  .contenido-header{
    text-align: left;
  }
}

.barra{
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width:768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

// * Navegación
.logo{
    flex-basis: 80%;
}

.icono-menu{
  flex-basis: 20%;
  &i{
    text-align: right;
  }
}
@media (min-width: 768px ) {
  .logo{
    flex-basis: auto;
  }
  .icono-menu{
    display:none;
  }
}

.navegacion{
  display: none;
  flex: 1;
  // &:target{
  //   display:block;
  // }
  a{
    color: set-text-color(#333);
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
    &:hover{
      color:#71B100;
      @include easeOut;
    }
  }
  &.show{
    display:block;
  }
}


@media (min-width: 768px ) {
  nav.navegacion{
    animation-duration: 0s;
  }
  .navegacion {
    display: flex;
    justify-content: flex-end;
    animation:none;
    animation-duration: 0s;
    a{
      display: inline-block;
      font-size: 2.2rem;
      margin-right: 1.9rem;
      &:last-of-type{
      margin-right: 0;
      }
    }
    .nav-items{
      font-size: 2rem;
    }
  }
}

@media (max-width: 767 ) {
  nav.navegacion{
    animation-duration: 2s;
  }
}

// Mobile menu
// .mobile-menu{
//   img{
//     width: 3rem;
//   }
// }
.open-menu, .close-menu{
  i {
    color:white;
    display:block;
    text-align: right;
  }
}

.open-menu {
  display:block;
  // visibility: visible;
  &.close{
    display:none;
    // visibility: hidden;
  }
}

.close-menu{
  display:none;
  // visibility: hidden;
  &.show{
    display:block;
    // visibility: visible;
  }
}

@media (min-width: 768px ) {
  .mobile-menu{
    display: none;
  }
}

.iconos-nosotros{
  .icono{
    text-align: center;
    h3{
      text-transform: uppercase;
    }
  }
}

@media (min-width: 768px ) {
  .iconos-nosotros{
    display:flex;
    justify-content: space-between;
    .icono{
      flex-basis: calc( 33.3% - 1rem );
  
      h3{
        text-transform: uppercase;
      }
    }
  }
}

//* Anuncios

@media (min-width: 768px ) {
  .contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.anuncio{
  // flex-grow: 0;
  // flex-shrink: 0;
  // flex-basis: calc( 33.3% - 1rem );
  background-color: #f5f5f5;
  border: 1px #b5b5b5 solid;
  margin-bottom: 2rem;
}

@media (min-width: 768px ) {
  .anuncio{
    flex: 0 0 calc( 33.3% - 1rem );
  }
}

.contenido-anuncio{
  padding: 2rem;
  h3, p{
    margin: 0;
  } 
}

p.precio{
  color:#71b100;
  font-weight: 700;
}

.iconos-caracteristicas{
  display: flex;
  flex: 1;
  list-style: none;
  padding: 0;
  justify-content: space-evenly;
  li{
    display:flex;
    img{
      margin-right: 2rem;
    }
  }
}

.ver-todas{
  display: flex;
  justify-content: flex-end;
}

// Contacto Home
.imagen-contacto{
  background-image: url(../img/encuentra.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 40rem;
  .contenido-contacto{
    flex: 0 0 95%;
    color: white;
    p{
      font-size: 1.8rem;
    }
  }
}

// * BLOG

@media (min-width: 768px ) {
  .seccion-inferior{
    display: flex;
    justify-content: space-between;
    .blog{
      flex-basis: 60%;
    }
    .testimoniales{
      flex-basis: calc( 40% - 2rem );
      
    }
  }
}

.texto-entrada{
  flex-basis: calc(60% - 3rem);
  a{
    color: black;
    text-decoration: none;
  }
  h4{ 
    line-height: 1.4;
    margin: 0;
    &::after{
      content:'';
      background-color:#71b100;
      display: block;
      height: .5rem;
      margin-top: 1rem;
      width: 15rem;
    }
  }
  span{
    color: #e08709;
  }
}

.testimoniales .testimonial{
    color: white;
    background-color: #71B100;
    font-size: 1.7rem;
    padding: 2rem;
    border-radius: 2rem;
    p{
      text-align: right;
    }
    blockquote{
      font-weight: 300;
      margin-right: 0;
      padding-left: 1rem;
      position:relative;
      &::before{
        content:"";
        background-image: url("../img/comilla.svg");
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: -5rem;
      }
    }
  }
@media (min-width: 768px ) {
  .testimoniales .testimonial{
    font-size: 2rem;
    blockquote{
      margin-left: 3.5rem;
      padding-left: 0;
    }
  }
}

.entrada-blog{
  margin-bottom: 3rem;
  
}
@media ( min-width: 768px ) {
  .entrada-blog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    &:last-of-type{
      margin-bottom: 0;
    }
    .imagen{
      flex-basis: 40%;
    }
  }
}

// Footer
.site-footer{
  background-color: #333;
  margin:0;
  nav {
    display:none;
  }
  margin: 0;
  .contenedor-footer{
    padding: 3rem 0;
    text-align: center;
  }
  .copyright{
    color: white;
    margin:0;
  }
}

@media (min-width: 768px ) {
  .site-footer{
    .contenedor-footer{
      display:flex;
      justify-content: space-between;
      align-items: baseline;
    }
    nav{
      display:block;
    }
  } 
}

//  Header

// * NOSOTROS
.site-header{
  background-color: #333;
  padding: 1rem 0 3rem 0;
}

// internas
@media (min-width: 768px ) {
  .contenido-nosotros{
    display:grid;
    grid-template-columns: repeat( 2, 1fr);
    column-gap: 2rem;
  }
}

.texto-nosotros blockquote{
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 1rem 0 3rem 0;
}
// * Anuncio
.resumen-propiedad{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// * CONTACTO
.contacto {
  & p {
  font-size: 1.8rem;
  color: #4f4f4f;
  margin: 2rem 0 0 0;
  }
}

legend{
  font-size: 2.4rem;
  color: #333;
}

label {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

input:not([type="submit"]), textarea, select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

input[type="radio"]{
  width:auto;
  margin:0;
}

textarea{
  height: 20rem
}

// select{
//   -webkit-appearance: none;
//   appearance: none;
// }

.forma-contacto{
  max-width: 30rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

